@{
    ViewData["Title"] = "Contact Us";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<p class="lead text-center">We'd love to hear from you! Whether you need tech assistance, have questions, or just want to chat about the latest tech, don't hesitate to reach out.</p>

<div class="contact-container">
    <h3>Contact Information:</h3>
    <p><strong>Email:</strong> <a href="mailto:matt@highlandtechsolutions.com">matt@highlandtechsolutions.com</a></p>
    <p><strong>Phone:</strong> <a href="tel:+1423-579-4217">423-579-4217</a></p>
</div>

<style>
    .contact-container {
        text-align: center;
        max-width: 800px;
        margin: 2rem auto;
        padding: 1rem;
        background-color: black;
        color: #33ff33;
        font-family: 'Roboto Mono', monospace;
        border-left: 4px solid #1aff1a;
        border-right: 4px solid #1aff1a; 
    }

        .contact-container h1 {
            color: #1aff1a;
            text-align: center;
        }


        .contact-container p {
            margin-bottom: 1rem;
        }

        .contact-container a {
            color: #1aff1a;
            text-decoration: none;
        }

            .contact-container a:hover {
                text-decoration: underline;
            }
</style>
